[submodule "submodules/FastSpeech2"]
	path = submodules/FastSpeech2
	url = https://github.com/ming024/FastSpeech2
[submodule "submodules/whisper.cpp"]
	path = submodules/whisper.cpp
	url = https://github.com/ggerganov/whisper.cpp
[submodule "submodules/StyleTTS2"]
	path = submodules/StyleTTS2
	url = https://github.com/yl4579/StyleTTS2.git
[submodule "submodules/ORB_SLAM3"]
	path = submodules/ORB_SLAM3
	url = https://github.com/UZ-SLAMLab/ORB_SLAM3.git
[submodule "submodules/Pangolin"]
	path = submodules/Pangolin
	url = https://github.com/stevenlovegrove/Pangolin.git
[submodule "submodules/rscvdnn"]
	path = submodules/rscvdnn
	url = https://github.com/twMr7/rscvdnn
