whisper-cpp-python==0.2.0
scikit-learn
scipy
rasa
torch
transformers
unidecode
inflect
g2p-en
torchaudio
phonemizer
einops
einops-exts
onnxruntime
pandas
faster-whisper
seaborn
torchvision
opencv-python
cityscapesScripts
requests
pyaudio
git+https://github.com/resemble-ai/monotonic_align.git